.sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
}

.section {
    width: calc(100% - 250px);
    height: 100%;
    background-color: #eeeeee;
}

.navbar, .content{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.navbar {
    height: 100px;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
